html,
body {
  height: 105vh;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: #36a7c7;
  background: radial-gradient(circle, rgba(54, 167, 199, 1) 0%, rgba(53, 53, 112, 1) 100%);
} 

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
  width: 100vw;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  align-self: center;
  flex-grow: 1;
  
}

.gallery-item {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 30rem;
  border-radius: 15px;
  padding-top: 2px;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.26);
  background: rgba(0, 0, 0, 0.26);
  overflow-y: visible;
}
.gallery-item:hover {
  animation: animation1 normal 0.25s ease-in both;
}
@keyframes animation1 {
  0% {transform: translateY(0rem);}
  100% {transform: translateY(-1rem); 
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.26);}
}




.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  display: none;
}

#lightbox-image {
  padding: 10px;
  width: 60vw;
  height: 95vh;
  align-self: center;
  z-index: 1002;
  border-radius: 30px;
}

#close-btn {
  width: 50px;
  height: 50px;
  z-index: 1001;
  color: rgb(224, 224, 224);
  border: none;
  border-radius: 5px;
  font-family: s;
  font-weight: bold;
  font-size: 4rem;
  background: none;
  order: 1;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 2vb;
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-start
}